@import "../assets/colors.scss";

.root {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  min-height: 2rem;
  height: 10vh;
  background-color: $side-color;
}

.main {
  display: flex;
  flex: 1 0 auto;
}

.footer {
  display: flex;
  min-height: 2rem;
  height: 10vh;
  background-color: $side-color;
}