$bg-color: #344855;
$side-color: darken($bg-color, 5%);
$cell-color: $side-color;
$cell-error-color: rgba(64, 0, 0, 0.3);
$cell-track-color: rgba(0, 64, 0, 0.5);

$ball-1: magenta;
$ball-2: sienna;
$ball-3: cadetblue;
$ball-4: lightgreen;
$ball-5: yellow;
$ball-6: whitesmoke;
$ball-7: pink;
$ball-8: salmon;
$ball-9: lime;
$ball-10: royalblue;